<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple Photomath</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    
    <h1>Simple Photomath</h1>
    <p>Usage:</p>
    <p>Take a picture of simple mathematical expresion, <br> on white paper with black pen, <br> and get calculation.</p>
    <div>
        <video id="video" width="320" height="240" autoplay></video>
    </div>
    <div>
        <button id="click-photo">Click to Take Photo</button>
    </div>
    <div>
        <canvas id="canvas" width="320" height="240"></canvas>
    </div>
    <div>
        <p>Result is: <span id="result"></span></p>
    </div>
</body>

<script src="{{ url_for('static',filename='scripts/script.js') }}"></script>

</html>